---
import Layout from "../layouts/Layout.astro";
import menu from "../components/css/menu.module.css";
import CartaMenu from "../components/CartaMenu.astro";


const menuItem = {
  id: 1,
  nombre: "Café Espresso",
  ingredientes: "Café Molido",
  precio: 1.5,
  sabor: "Intenso y fuerte",
  descripcion: "Un concentrado de café puro, servido en una pequeña porción, con un sabor robusto y lleno de cafeína.",
  image: 1
};
---

<Layout title="Menu">
  <section class={menu.contenedor}>
    <section class={menu.section}>
      <div class={menu.divtitulo}>
        <h1>Encuentra el mejor café para ti</h2>
        <input type="text" placeholder="Encuentra Tu Combinación" />
      </div>
      <div class={menu.menu}>
        <ul>
          <li>Bebidas Calientes</li>
          <li>Bebidas Frías</li>
          <li>Repostería</li>
          <li>Sándwiches Gourmet</li>
          <li>Sin Gluten</li>
          <li>Sin Azúcar</li>
        </ul>
      </div>
    </section>

    <section class={menu.cartasContenedor}>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
        <div class={menu.carta}>
          <CartaMenu {...menuItem} />
        </div>
    </section>
  </section>
</Layout>
